<link rel="stylesheet" href="css/barra_navegacion.css">
    <main class="navbar">
        <div class="logo">
            <span>Wind</span>
        </div>

        <input type="checkbox" id="btn-menu" class="input-hidden">
        <img src="" alt="">


        <label for="btn-menu" class="menu-open-btn">
            Menú
        </label>


        <div class="menu-overlay">
            <label for="btn-menu" class="menu-close-btn">&times;</label>
            
            <nav class="menu-links">
                <ul>
                    <li><a href="comunidad">Comunidad</a></li>
                    <li><a href="relatos">Relatos</a></li>
                    <li><a href="historias">Historias</a></li>
                    <li><a href="juegos">Juegos</a></li>
            </nav>
        </div>
    </main>
