<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/search.css">
    <link rel="manifest" href="/manifest.json">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Wind">
    <link rel="apple-touch-icon" href="/img/app.png">
    <meta name="theme-color" content="#ff4500">



</head>


<body>



    <script src="/js/menu.js"></script>
    <script src="/js/search.js"></script>







    <div class="app-container">
        <div id="menu-placeholder"></div>

        <main class="contenido-principal">
            <div id="buscar-placeholder"></div>
            <h1 class="titulo">Home</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque, quod.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque, quod.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque, quod.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque, quod.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque, quod.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque, quod.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque, quod.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque, quod.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque, quod.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque, quod.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque, quod.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque, quod.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque, quod.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque, quod.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque, quod.</p>

        </main>
    </div>


</body>
</body>

</html>