<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="manifest" href="/manifest.json">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Wind">
    <link rel="apple-touch-icon" href="/img/app.png">
    <meta name="theme-color" content="#ff4500">

</head>


<body>
    <script src="/js/menu.js"></script>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/sw.js')
                    .then(reg => console.log('SW registrado', reg))
                    .catch(err => console.error('Error SW', err));
            });
        }
    </script>

    <div class="app-container">

        <div id="menu-placeholder"></div>

        <main class="contenido-principal">
            <h1 class="titulo">Perfil</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque, quod.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque, quod.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque, quod.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque, quod.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque, quod.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque, quod.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque, quod.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque, quod.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque, quod.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque, quod.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque, quod.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque, quod.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque, quod.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque, quod.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque, quod.</p>

        </main>
    </div>


</body>
</body>

</html>