<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/menu.css">

</head>


<body>
    <script src="/js/menu.js"></script>
    <div class="app-container">

        <div id="menu-placeholder"></div>

        <main class="contenido-principal">
            <h1 class="titulo">Perfil</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque, quod.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque, quod.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque, quod.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque, quod.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque, quod.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque, quod.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque, quod.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque, quod.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque, quod.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque, quod.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque, quod.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque, quod.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque, quod.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque, quod.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque, quod.</p>

        </main>
    </div>


</body>
</body>

</html>