/* Quitar el focus de los elementos, el cuadro azul */
*:focus:not(:focus-visible) {
    outline: none;
}

* {
    -webkit-tap-highlight-color: transparent;
}

/* Body basico */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f5f5f5;
    background: #fde7d2;
    color: rgb(0, 0, 0);
}

/*Barra de navegacion que esta en menu.js*/
.barra-navegacion {
    background: #1a1a1a;
    display: flex;
    z-index: 9999;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.nav-link {
    color: white;
    text-decoration: none;
    font-weight: 600;
    opacity: 0.7;
    transition: 0.3s;
}

.nav-link:hover {
    opacity: 1;
    color: #ff7b00;
}