/* Quitar el focus de los elementos, el cuadro azul */
*:focus:not(:focus-visible) {
    outline: none;
}

* {
    -webkit-tap-highlight-color: transparent;
}

/* Body basico */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f5f5f5;
    background: #fde7d2;
    color: rgb(0, 0, 0);
}

/*Barra de navegacion que esta en menu.js*/
.barra-navegacion {
    background: #1a1a1a;
    display: flex;
    z-index: 9999;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.nav-link {
    color: white;
    text-decoration: none;
    font-weight: 600;
    opacity: 0.7;
    transition: 0.3s;
}

.nav-link:hover {
    opacity: 1;
    color: #ff7b00;
}


/* Version Movil ---- Anyuil */
@media (max-width: 768px) {
    .app-container {
        display: block;
    }

    .barra-navegacion {
        position: fixed;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        padding: 18px;
        border-radius: 50px;
        justify-content: space-around;
        flex-direction: row;
    }

    .contenido-principal {
        padding: 20px;
        padding-bottom: 100px;

    }
}

/* Version PC ---- Armando*/
@media (min-width: 769px) {
    .app-container {
        display: flex;
        width: 100%;
        min-height: 100vh;
    }

    .barra-navegacion {
        flex-direction: column;
        width: 250px;
        height: calc(100vh - 20px);
        position: fixed;
        top: 10px;
        left: 0;
        padding: 40px 20px;
        gap: 20px;
        box-sizing: border-box;

        margin-left: 5px;
        margin-top: 0px;
        border-radius: 15px;
        margin-bottom: 10px;
    }

    .nav-link {
        font-size: 1.2rem;
        padding: 10px;
        border-radius: 8px;
    }

    .nav-link:hover {
        background: rgba(255, 255, 255, 0.05);
    }

    .contenido-principal {
        flex-grow: 1;
        padding: 40px;
        background: #fde7d2;
        min-width: 0;
        margin-left: 270px;

    }
}